* {
    padding: 0;
    margin: 0;
}
nav {
    background: #DFF8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: larger;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 90%;
}
a {
    text-decoration: none;
}
a:hover {
    background: linear-gradient(270deg, #12ec33 0%, #0688ce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    background: #CAF4F4;;
}
#row1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
#row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 20vh;
}
.projtext {
    background: #8BE7E7;
    margin: 2vw;
    margin: 2vh;
    padding: 2vw;
    padding: 2vh;
    text-align: center;
}
#pf {
    font-size: x-large;
    color: #03400d;
}
#pf:hover {
    transform: scale(1.6);
    transition: 0.3s;
    cursor: pointer;
}
.navelement:hover {
    transform: scale(1.4);
    transition: 0.2s;
}
h1 {
    color: #0D6869;
    text-align: center;
    margin-top: 5vh;
}
h2 {
    color: #307743;
}
.projimg {
    height: 35vh;
    width: 25vw;
}
button {
    border: none;
    border-radius: 20px;
    background: linear-gradient(270deg, #8FDD9E 0%, #4ABCF8 100%);
    width: 8vw;
    height: 4vh;
}
#phb {
    background: linear-gradient(270deg, #f1fe40 0%, #35c91e 100%);
}
h2:hover {
    color: #ed580e;
}