* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://wd.imgix.net/image/admin/K1IN7zWIjFLjZzJ4Us3J.jpg?auto=format")
}
h1 {
    color: #c92c10;
    text-align: center;
    margin-top: 40vh;
}
button {
    width: 15vw;
    height: 6vh;
    border-radius: 20px;
    background-color: slategray;
    margin-left: 43vw;
    margin-top: 4vh;
}
a {
    text-decoration: none;
}
a:hover {
    background: linear-gradient(270deg, #07eb29 0%, #0688ce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}